body {
  margin: 0;
  padding: 0;
}

/*计算器*/
#calculator {
  display: flex;
  flex-direction: column;

  width: 360px;
  height: 560px;
  margin: 50px auto;
  border: 1px solid #878787;

  border-radius: 5px;
}

/*显示屏部分*/
#screen-wrapper {
  flex-grow: 1.8;
  display: flex;
  flex-direction: column-reverse;

  max-height: 25%;
  padding-right: 20px;
  box-sizing: border-box;

  font-weight: lighter;

  border: 1px solid #878787;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(71, 37, 37, 0.4);
}
#screen {
  font-size: 5em;
  text-align: right;
  color: #fff;
}

/*键盘部分*/
.btn-wrapper {
  flex-grow: 1;
  display: flex;
}
.btn-wrapper > button {
  flex-grow: 1;

  min-width: 25%;
  border: 1px solid #878787;
  /* box-sizing: border-box; */

  font-size: 2em;

  /* outline: none; */
  background-color: #E0E0E0;
}
.btn-wrapper .right-operator {
  background-color: #F5923D;
  color: #fff;
}
#btn-zero {
  min-width: 50%;
  border-bottom-left-radius: 5px;
}
#equal {
  border-bottom-right-radius: 5px;
}